<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D20D1A961F19FB1300029E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20D1AAF1F19FB1400029E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D20D1ABA1F19FB1400029E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
